<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head">
</head>
<body>
<div id="wrapper" >
    <!--Navigation -->
    <nav th:replace="fragments/menu :: menu_project(project= ${project},projectList = ${projectList}, user=${user}, isPm=${isPM})"></nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h1 class="page-header" th:text="#{updateProject.Label}"></h1>
                    <div class="panel-body">
                        <form role="form" id="update-project-form" th:action="'/project/'+${project.getIdProject()}"
                              th:object="${project}" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <h1 th:text="${project.getName()}"></h1>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{createProject.descriptionLabel}"></label>
                                        <textarea id="project-description" class="form-control" rows="5" name="description"
                                                  th:field="*{description}" th:text="${project.getDescription()}"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{createProject.group}"></label>
                                        <select if="group" th:field="*{groupId}">
                                            <option th:each="group : ${groups}"
                                                    th:value="${group.getPrimaryKey().getGroup().getGroup_id()}"
                                                    th:text="${group.getPrimaryKey().getGroup().getName()}"
                                                    th:selected="${project.getGroupId()}==${group.getPrimaryKey().getGroup().getGroup_id()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label th:text="#{createProject.typeLabel}"></label><br/>
                                        <div class="project-type">
                                            <label class="radio-inline">
                                                <input name="projectType" value="AGILE"
                                                       type="radio" th:if="${project.getType().name() == 'AGILE'}"
                                                       checked="checked" disabled="disabled"/>
                                                <input name="projectType" value="AGILE"
                                                       type="radio" th:unless="${project.getType().name() == 'AGILE'}"
                                                       disabled="disabled"/>
                                                <p th:text="#{createProject.developmentTypeLabel.Agile}"></p>
                                            </label>
                                            <label class="radio-inline">
                                                <input name="projectType" value="NOT_AGILE"
                                                       type="radio" th:unless="${project.getType().name() == 'AGILE'}"
                                                       checked="checked" disabled="disabled"/>
                                                <input name="projectType" value="NOT_AGILE"
                                                       type="radio" th:if="${project.getType().name() == 'AGILE'}"
                                                       disabled="disabled"/>
                                                <p th:text="#{createProject.developmentTypeLabel.NotAgile}"></p>
                                            </label>
                                            <label id="project-type-error" class="control-label"
                                                   th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                                   th:text="#{createProject.developmentTypeLabel.error}">
                                            </label>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label th:text="#{createProject.requirementType.label}"></label>
                                        <div class="checkbox" th:each="reqType, i: ${reqTypes}">
                                            <label><!--th:if="${#lists.contains(project.requirementTypes, reqType)}"-->
                                                <input th:value="${reqType.idType}" type="checkbox" name="idtype"
                                                       th:text="${reqType.getName()}" th:field="*{stringReqTypes}"
                                                       th:checked="${#lists.contains(project.requirementTypes, reqType)}"
                                                       th:disabled="${#lists.contains(project.requirementTypes, reqType)}"/>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 submit-button" >
                                    <button class="btn btn-primary" type="submit" th:text="#{updateProject.submitButton}"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>