.panel-footer {
    position: fixed;
    bottom: 0;
}
textarea {
    resize: none;
}
.project-type{
    width: 50%;
    margin: 0 auto;
}
.radio-agile-development{
    left: 40px;
}
.submit-button{
    width: 25%;
}
p{
    display:inline;
}
#index_body{
    background:url(https://picsum.photos/1920/1080/?random) no-repeat 0 0;
    background-size: cover;
}